/* seletor :nth-child() */

li:nth-child(2) {
    color: #f00;
}

li:nth-child(3n) {
    color: #00f;
}

li:hover {
    background-color: #999;
    
}

/* pseudo-elementos -> ::before e ::after */
li::before {
    content: "(antes)";
}

li::after {
    content: "(depois)";
}